# Email Service Configuration
PORT=3002
MONGODB_URI=mongodb://localhost:27017/logcollector
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=natanibhavya30@gmail.com
SMTP_PASSWORD=nukqtfotkwuwvmbd
SMTP_FROM=natanibhavya30@gmail.com
NODE_ENV=development
SERVICE_NAME=email-service
